.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90vw; 
  z-index: 50;
}

.search-bar {
  width: 30vw; 
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.search-bar input{
  border: none;
  outline: none;
  margin-left: 1vw;
  font-size: 16px;
}

.apartment-list ul {
    position: absolute;
    justify-content: center;
    top: 100%;
    left: 30vw;
    width: 31vw;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    /* border-top: none; */
    max-height: 200px;
    overflow-y: auto;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 50;
}

.apartment-list li {
  padding: 8px;
  cursor: pointer;
  z-index: 50;
}

.apartment-list li:hover {
  background-color: #f0f0f0;
  z-index: 50;
}

.apartment-list button{
  outline:none;
  margin-left: 10px;
}
.selected-apartments {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  position: absolute; 
  top: 100%;
  width: 100%; 
  left: 0; 
}

.selected-apartment {
  border: 1px solid #ccc;
  margin-top:40px;
  margin-left: 10px;
  padding: 10px;
  width: 40vw;
  height: 60vh;
  overflow-y: auto;
  border-radius: 10px 10px 10px 10px;
}

.selected-apartment img{
  padding: 8px;
  width: 60%;
  height: 50%;
}

.selected-apartment button{
  outline: none;
}

.selected-title {
  display: inline-block;
  position:fixed;
  margin-top: 0px;
}

.selected-apartment p {
  margin: 5px 0;
}

.selected-apartment button {
  margin-top: 10px;
}


/* @media screen and (max-width:796px) {
    .container{
        justify-content: center;
    }
    .box--merge{
        flex: 90%;
        flex-wrap: wrap;
        align-items: flex-start;
        width: calc(100%-10px);
        z-index: auto;
    }

} */
