.search {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  width: 20vw; 
  padding: 8px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px inset;
  font-family: Montserrat, sans-serif;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}
.search input{
  border: none;
  outline: none;
  font-size: 16px;
  width: 19vw;
  font-family: Montserrat, sans-serif;
}

/* Styles for the container div */
.button-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

/* Styles for the buttons */
.button-container button {
  width: 100px;
  padding: 10px 20px;
  background-color: rgba(89, 132, 26, 0.719);
  color: white;
  font-family: Montserrat, sans-serif;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

/* Styles for the disabled buttons */
.button-container button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Styles for the input field */
.button-container input {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 10px;
  width: 50px; /* Adjust width as needed */
  font-family: Montserrat, sans-serif;
}

/* Styles for the input field when disabled */
.button-container input[disabled] {
  background-color: #f0f0f0;
  transition: 10ms;
}


table {
    font-family: Montserrat, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    width: 80%;
    border-radius: 15px;
    overflow: hidden;
  }
  
 table td,
  table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  /* Style for the rounded corners of the first and last row's first and last cells */
  table tr:first-child th:first-child {
    border-top-left-radius: 15px;
  }

  table tr:first-child th:last-child {
    border-top-right-radius: 15px;
  }

  table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
  }

  table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  table th,
  tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(89, 132, 26, 0.719);
    color: white;
    cursor: pointer;
    width: 80vw;
  }

  .table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
  }
  .pagintation-and-table{
    background-color: #f9fae2;
  }

  .pagination-selector {
    margin-top: 5px;
    margin-right: 20px;
  }
  .pagination-selector select{
    border: 1px solid #adaaaa;
    border-radius: 7px;
    padding: 3px;
    font-size: 13px;
    font-family: Montserrat, sans-serif;
  }
